html {
  scroll-behavior: smooth;
}

body {
  background-color: #c6c6c6;
  color: #3f3f3f;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-bottom: 20px;
  color: #FFFFFF;
  text-shadow: 5px 5px #333333;
  background-size: cover;
  background-position: center;
  background-image: url(https://media0.giphy.com/media/r8GMmlV8qGrfZ3txfX/giphy.gif?cid=6c09b952scw9q6i22f1jdsqsxq7kp0bh4q1v2rzdms0hr228&ep=v1_gifs_search&rid=giphy.gif);
}

.main img {
  max-width: 95%;
  height: auto;
  display: block;
  margin: 0 auto;
  padding-bottom: 5%;
}

h1 {
  font-size: 5rem;
  text-align: center;
  line-height: 1;
}

p {
  font-size: 2rem;
}

.section-two {
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  transition: height 0.5s ease-in-out;
  background-color: rgba(255, 255, 255, 0.5);
  background-image: url("viabackwards+_back.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #FFFFFF;
  text-shadow: 5px 5px #333333;
  line-height: 10%;
}

.section-two h2 {
  font-size: 6rem;
  margin-left: 10vh;
}

.section-two p {
  font-size: 1.5rem;
  margin-left: 10vh;
  text-shadow: 2px 2px #333333;
}

.section-three {
  height: 75vh;
  background-color: #c6c6c6;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
  text-align: right;
  background-image: url(painting.png);
  background-size: cover;
  background-position: center;
  color: #FFFFFF;
  text-shadow: 5px 5px #333333;
  line-height: 10%
}

.section-three h2 {
  font-size: 5rem;
  margin-right: 10vh;
}

.section-three p {
  font-size: 1.5rem;
  text-align: right;
  margin-right: 10vh;
  text-shadow: 3px 3px #333333;
}

button {
  border-bottom: 6px solid #565656;
  border-right: 6px solid #565656;
  border-top: 6px solid #a9a9a9;
  border-left: 6px solid #a9a9a9;
  color: rgb(230, 230, 230);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.2s;
  cursor: pointer;
  background-color: #8b8b8b;
  text-shadow: 1px 1px #333333;
}

button:hover {
  border-bottom: 6px solid #444444;
  border-right: 6px solid #444444;
  border-top: 6px solid #979797;
  border-left: 6px solid #979797;
  color: rgb(226, 226, 226);
  background-color: #6d6d6d;
}

::selection {
  background: transparent;
  color: inherit;
}

::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0);
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
}

hr {
  margin: 0;
  padding: 0;
}